<%= render 'layouts/admin_header' %>
<div class=container>
  <div class="row">
    <div class=col-md-10>
      <table class="table">
        <thead>
          <tr>
            <th>日付</th>
            <th>タイトル</th>
            <th>投稿者</th>
            <th>コメント</th>
          </tr>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
          <tr>
            <td><%= l comment.event.start_time %></td>
            <td>
              <%= link_to(admin_event_path(comment.event_id)) do %>
                <%= comment.event.title %>
              <% end %>
            </td>
            <td><%= comment.user.last_name %></td>
            <td><%= comment.comment %></td><!--表示文字数制限入れたい-->
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>