<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2><%= @user.name_display %>さんの投稿コメント一覧</h2>
      <table class="table table-light">
        <tr>
          <th>日付</th>
          <th>ジャンル</th>
          <th>タスク名</th>
          <th>コメント</th>
          <th></th>
        </tr>
        <% @comments.each do |comment| %>
        <tr>
          <td><%= l comment.created_at, format: :day %></td>
          <td><%= comment.event.genre.name %></td>
          <td>
            <%= link_to(admin_event_path(comment.event)) do %>
              <%= comment.event.title %>
            <% end %>
          </td>
          <td><%= comment.body %></td>
        </tr>
        <% end %>
      </table>
      <div class="w-100">
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</div>

