<%= form_with model: @event, url: events_path do |f| %>
  <table class="table">
      <tr>
        <td><%= f.label :genre_id, "ジャンル" %></td>
        <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></td>
        <!--f.select :プロパティ名, options_from_collection_for_select(モデル, :フォームで送る値(メソッド), :セレクトボックスに表示する値(メソッド))-->
      </tr>
      <tr>
        <td><%= f.label :title, "タイトル" %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :body, "内容" %></td>
        <td><%= f.text_area :body, row: 3 %></td>
      </tr>
      <tr>
        <td><%= f.label :start_time, "開始時間" %></td>
        <td><%= f.datetime_field :start_time %></td>
      </tr>
      <tr>
        <td><%= f.label :end_time, "終了時間" %></td>
        <td><%= f.datetime_field :end_time %></td>
      </tr>
      <tr>
        <td><%= f.submit submit, class: "btn btn-success" %></td>
      </tr>
  </table>
        <!--= f.label :created_at, class: 'control-label'-->
        <!--= f.datetime_field :created_at, class: 'form-control'-->
<% end %>