<%= render 'layouts/public_header' %>

<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
      <%= form_with model: @event, url: event_path(@event), method: :patch do |f| %>
        <table class="table">
      		<tbody>
          <tr>
            <td><%= f.label :genre_id, "ジャンル" %></td>
            <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></td>
            <!--f.select :プロパティ名, options_from_collection_for_select(モデル, :フォームで送る値(メソッド), :セレクトボックスに表示する値(メソッド))-->
          </tr>
          <tr>
            <td><%= f.label :title, "タイトル" %></td>
            <td><%= f.text_field :title %></td>
          </tr>
          <tr>
            <td><%= f.label :body, "内容" %></td>
            <td><%= f.text_area :body, row: 3 %></td>
          </tr>
          <tr>
            <td><%= f.label :start_time, "開始時間" %></td>
            <td><%= f.datetime_field :start_time %></td>
          </tr>
          <tr>
            <td><%= f.label :end_time, "終了時間" %></td>
            <td><%= f.datetime_field :end_time %></td>
          </tr>
          <tr>
            <td><%= f.label :is_finished, "進捗状況" %></td>
            <td><%= f.select :is_finished, event.is_finisheds_i18n.invert %></td>
            <!--.inverで表示を日本語・送るvalueを英語にする-->
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
