<%= render 'layouts/public_header' %>
<div class="container">
  <h4>検索条件入力</h4>
  <div class="search_box mb-4">
    <div class="row">
      <div class="col-md-10">
        <%= form_with url: events_path, method: :get do |f| %>
          <div class="form-group form-inline">
            <%= f.label :genre_id, "ジャンル：", class: "col-md-2 justify-content-start" %>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: "ジャンルを選択してください", selected: params[:genre_id] }, class: "form-control col-md-4" %>
          </div>
          <div class="form-group form-inline">
            <%= f.label :user_id, "タスク登録者：", class: "col-md-2 justify-content-start" %>
            <%= f.collection_select :user_id, User.all, :id, :name_display, { include_blank: "タスク登録者を選択してください", selected: params[:user_id] }, class: "form-control col-md-4" %>
          </div>
          <div class="form-group form-inline">
            <%= f.label :is_finished, "進捗状況：", class: "col-md-2 justify-content-start" %>
            <%= f.select :is_finished, Event.is_finisheds_i18n.invert, { include_blank: "進捗状況を選択してください", selected: params[:is_finished] }, class: "form-control col-md-4" %>
          </div>
          <div class="form-group mt-3">
            <%= f.submit "検索する", class: "btn btn-primary ml-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'layouts/event_index', {user: @user, events: @events} %>
</div>