<div class="container">
  <div class="row">
		<div class="col-md-8 mx-auto">
		  <%= render 'layouts/error_messages', variable: @event %>
		  <h1>新規タスク登録</h1>
		  <%= form_with model: @event, url: events_path do |f| %>
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :genre_id, "ジャンル" %></td>
            <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), { prompt: "選択してください"}, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :title, "タイトル" %></td>
            <td><%= f.text_field :title, placeholder: "10文字以内で記載してください", class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :body, "内容" %></td>
            <td><%= f.text_area :body, row: 3, placeholder: "200文字以内で記載してください", class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :start_on, "日付" %></td>
            <td><%= f.date_field :start_on, class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :start_time, "開始時間" %></td>
            <td><%= f.select :start_time, times, { include_blank: "--", selected: params[:start_time] }, class: "time-select", style: "display: inline-block;" %></td>
          </tr>
           <tr>
            <td><%= f.label :end_time, "終了時間" %></td>
            <td><%= f.select :end_time, times, { include_blank: "--", selected: params[:end_time] }, class: "time-select", style: "display: inline-block;" %></td>
          </tr>
        </table>
        <div>
          <%= f.submit "新規登録", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
