<%= render 'layouts/public_header' %>
<div class="container">
  <h1>タスク詳細</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <%= week_calendar events: @events do |date| %>
          <div>
            <%= date.day %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-7 offset-1">
      <div class="row">
        <%= render 'layouts/event_show', event: @event %>
      </div>

      <% if @event.favorited_by?(current_user) %>
        <p>
          <%= link_to event_favorites_path(@event), method: :delete do %>
            ❤<%= @event.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to event_favorites_path(@event), method: :post do %>
            ♡<%= @event.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>

      <div class="row">
        <%= link_to "タスク編集", edit_event_path(@event), class: "btn btn-primary" %>
      </div>

      <div class="row mt-4">
        <%= render 'layouts/charge_index', charges: @charges %>
      </div>
      <% if @event.charged_by?(current_user) %>
        <div class="row">
          <%= link_to event_charges_path(@event), method: :delete do %>
            <btn class="btn btn-success">辞退する</btn>
          <% end %>
        </div>
      <% else %>
        <div class="row">
          <%= link_to event_charges_path(@event), method: :post do %>
            <btn class="btn btn-success">担当する</btn>
          <% end %>
        </div>
      <% end %>
      <div class="row mt-3">
        <%= render 'layouts/comment_index', comments: @comments %>
          <table class="table">
            <%= form_with model: @comment, url: event_comments_path(@event), method: :post do |f| %>
              <%= f.label :comment, "新規投稿" %>
              <%= f.text_area :comment, row: 3, class: "form-control" %>
              <%= f.submit "投稿する", class: "btn btn-success" %>
            <% end %>
          </table>

      </div>
    </div>
  </div>
</div>