<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="text-center">
        <!--同日のタスクを表示-->
        <%= week_calendar events: @events do |date| %>
          <div>
            <%= date.day %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 offset-md-1 mb-4">
      <%= render 'layouts/notice_expression' %>
      <h1>タスク詳細</h1>
      <div class="row">
        <%= render 'layouts/event_show', event: @event %>
      </div>
      <% if @event.favorited_by?(current_user) %>
        <p>
          <%= link_to event_favorites_path(@event), method: :delete, class: "btn btn-light" do %>
            ❤<%= @event.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to event_favorites_path(@event), method: :post, class: "btn btn-light" do %>
            ♡<%= @event.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
      <!--カレントユーザーがタスク登録者あるいはタスク担当者ならタスク編集ボタンを表示-->
      <% if @event.charged_by?(current_user) || current_user == @event.user %>
        <div class="mb-4">
          <%= link_to "タスク編集", events_myevent_edit_path(@event, event_id: @event.id), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 offset-md-1">
      <!--タスク担当者を表示-->
      <%= render 'layouts/event_charger', event: @event %>
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <!--カレントユーザーがタスクを担当しているかどうか確認-->
          <% if @event.charged_by?(current_user) %>
            <!--カレントユーザーがタスクを担当している：辞退ボタンを表示 -->
            <%= link_to event_charges_path(@event), method: :delete do %>
              <span class="btn btn-danger ml-auto">辞退する</span>
            <% end %>
          <% else %>
            <!--カレントユーザーがタスクを担当していない：担当ボタンを表示 -->
            <%= link_to event_charges_path(@event), method: :post do %>
              <span class="btn btn-success ml-auto">担当する</span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12">
          <%= form_with model: @comment, url: event_comments_path(@event), method: :post do |f| %>
            <div class="form-field">
              <h3>コメント投稿</h3>
              <%= render 'layouts/error_messages', variable: @comment %>
              <%= f.text_area :body, row: 3, placeholder: "200文字以内で記載してください", class: "form-control" %>
            </div>
            <div class="d-flex justify-content-end">
              <%= f.submit "投稿する", class: "btn btn-outline-primary mt-1" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render "layouts/comments_index", comments: @comments %>
    </div>
  </div>
</div>