<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="text-center">
        <%= week_calendar events: @events do |date| %>
          <div>
            <%= date.day %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <%= render 'layouts/notice_expression' %>
      <h1>タスク詳細</h1>
      <div class="row">
        <%= render 'layouts/event_show', event: @event %>
      </div>

      <% if @event.favorited_by?(current_user) %>
        <p>
          <%= link_to event_favorites_path(@event), method: :delete, class: "btn btn-outline-info" do %>
            ❤<%= @event.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to event_favorites_path(@event), method: :post, class: "btn btn-outline-info" do %>
            ♡<%= @event.favorites.count %> いいね
          <% end %>
        </p>
      <% end %>
      <% if @event.charged_by?(current_user) || current_user == @event.user %>
        <div class="row">
          <%= link_to "タスク編集", edit_event_path(@event), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-4 offset-md-1">
      <div>
      <%= render 'layouts/event_charger', event: @event %>
      <% if @event.charged_by?(current_user) %>
        <div class="row">
          <%= link_to event_charges_path(@event), method: :delete do %>
            <btn class="btn btn-danger">辞退する</btn>
          <% end %>
        </div>
      <% else %>
        <div class="row">
          <%= link_to event_charges_path(@event), method: :post do %>
            <btn class="btn btn-success">担当する</btn>
          <% end %>
        </div>
      <% end %>
      </div>
      <div class="row mt-5 mb-5">
        <%= form_with model: @comment, url: event_comments_path(@event, event_id: @event.id), method: :post do |f| %>
          <div clas="form-field">
            <h3>コメント投稿</h3>
            <%= f.text_area :body, row: 3, class: "field-control" %>
          </div>
          <div clas="form-field">
            <%= f.submit "投稿する", class: "btn btn-outline-primary mt-1" %>
          </div>
        <% end %>
      </div>
      <div class="row">
          <%= render "layouts/comments_index", comments: @comments %>
      </div>
    </div>
  </div>
</div>