<%= render 'layouts/admin_header' %>
<div class="container">
  <%= render 'layouts/event_index_search' %>
  <div class="search_box mb-4">
    <div class="row search col-4">
    <%= form_with url: admin_events_path, method: :get do |f| %>
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), :prompt => "ジャンルを選択してください", class: "form-control" %>
      <%= f.submit "検索", class: "ml-auto" %>
    <% end %>
    </div>
    <div class="row search col-4">
    <%= form_with url: admin_events_path, method: :get do |f| %>
      <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name_display), :prompt => "タスク登録者を選択してください" %>
      <%= f.submit "検索" %>
    <% end %>
    </div>
    <div class="row search col-4">
    <%= form_with url: admin_events_path, method: :get do |f| %>
      <%= f.select :is_finished, Event.is_finisheds_i18n.invert, :prompt => "進捗状況を選択してください" %>
      <%= f.submit "検索" %>
    <% end %>
    </div>
  </div>
  <h2>タスク一覧</h2>
  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <thead class="table-light">
          <tr>
            <td>日付</td>
            <td>ジャンル</td>
            <td>タイトル</td>
            <td>登録者</td>
            <td>進捗状況</td>
        </thead>
        <% @events.each do |event| %>
        <tr>
          <td><%= l event.start_time, format: :day %></td>
          <td><%= event.genre.name %></td>
          <td>
            <%= link_to(admin_event_path(event)) do %>
              <%= event.title %>
            <% end %>
          </td>
          <td>
            <%= link_to(admin_user_path(event.user)) do %>
              <%= event.user.last_name %><%= event.user.first_name %>
            <% end %>
          </td>
          <td><%= event.is_finished_i18n %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>