<div class="container">
  <div class="row">
    <div class="col-md-2 mb-4">
      <div class="text-center">
        <%= week_calendar events: @events do |date| %>
          <div>
            <%= date.day %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 offset-md-1 mb-4">
      <%= render 'layouts/notice_expression' %>
      <h2>タスク詳細</h2>
      <div class="row">
        <%= render 'layouts/event_show', event: @event %>
        <% if @event.favorites.exists? %>
          <p>❤<%= @event.favorites.count %> いいね</p>
        <% else %>
          <p>♡<%= @event.favorites.count %> いいね</p>
        <% end %>
        <div class="w-100 mt-3 mb-4">
          <%= link_to "編集する", edit_admin_event_path(@event), class: "btn btn-primary" %>
        </div>
        <div class="w-100">
          <%= link_to "削除する", admin_event_path(@event), method: :delete, date: {confirm: "タスクを削除しますか？" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <%= render 'layouts/event_charger', event: @event %>
      <%= render 'layouts/comments_index', comments: @comments %>
      <div class="row">
        <div class="col-12">
          <% if @event.comments.exists? %>
            <%= link_to "全コメント削除", admin_event_comments_destroy_all_path(@event), method: :delete, data: {confirm: "全てのコメントを削除しますか？"}, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>