<div class="container">
  <div class="row">
    <div class="col-md-2 mb-4">
      <div class="text-center">
        <!--同日のタスクを表示-->
        <%= week_calendar events: @events do |date| %>
          <div>
            <%= date.day %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 offset-md-1 mb-4">
      <%= render 'layouts/notice_expression' %>
      <h2>タスク詳細</h2>
      <%= render 'layouts/event_show', event: @event %>
      <% if @event.favorites.exists? %>
        <p class="ml-2">❤<%= @event.favorites.count %> いいね</p>
      <% else %>
        <p class="ml-2">♡<%= @event.favorites.count %> いいね</p>
      <% end %>
      <div class="w-100 d-flex justify-content-between">
        <%= link_to "編集する", edit_admin_event_path(@event), class: "btn btn-primary mb-3" %>
        <%= link_to "削除する", admin_event_path(@event), method: :delete, date: {confirm: "タスクを削除しますか？" }, class: "btn btn-danger mb-3" %>
      </div>
    </div>
    <div class="col-md-4 offset-md-1">
      <!--タスク担当者を表示-->
      <%= render 'layouts/event_charger', event: @event %>
      <!--コメント一覧を表示-->
      <%= render 'layouts/comments_index', comments: @comments %>
      <div class="row">
        <div class="col-12">
          <% if @event.comments.exists? %>
            <%= link_to "全コメント削除", admin_event_comments_destroy_all_path(@event), method: :delete, data: {confirm: "全てのコメントを削除しますか？"}, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>