<%= render 'layouts/admin_header' %>
<div class="container">
  <h2>タスク詳細</h2>
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <%= render 'layouts/event_show', event: @event %>
      </div>
      <div>
        <p>
          <% if @event.favorites.exists? %>
            ❤<%= @event.favorites.count %> いいね
          <% else %>
            ♡<%= @event.favorites.count %> いいね
          <% end %>
        </p>
      </div>
      <div class="row">
        <%= link_to "編集する", edit_admin_event_path(@event), class: "btn btn-primary" %>
      </div>
      <div class="row">
        <%= render 'layouts/charge_index', charges: @charges %>
      </div>
      <div class="row mt-3">
        <%= render 'layouts/comment_index', comments: @comments %>
      </div>
    </div>
  </div>
</div>