<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>1週間の予定</h1>

    <div class="col-8 mt-3">
      <%= month_calendar events: @events do |date, events| %>
        <div>
          <%= date.day %>
        </div>
          <% events.each do |event| %>
            <%= link_to(event_path(event)) do %>
              <div>
                <%= event.title %>
              </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>