<div class="container">
  <h1>タスクカレンダー</h1>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= month_calendar events: @events do |date, events| %>
        <div>
          <%= date.day %>
        </div>
          <% events.each do |event| %>
            <%= link_to(event_path(event)) do %>
              <div class="text-left">
                <!--タスク担当者がいるか？-->
                <% if !event.charges.exists? %>
                  <span class="text-danger">・<%= event.title %></span>
                <!--ログインユーザーがタスク担当者か？-->
                <% elsif event.charges.where(user_id: @user.id).exists? %>
                  <span>・<%= event.title %><span><i class="fas fa-flag" style="color: blue;"></i></span></span>
                <% else %>
                  <span>・<%= event.title %></span>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>