<%= render 'layouts/public_header' %>
<div class="container">
  <h1>カレンダー</h1>
  <div class="row">
    <div class="col-10 text-center">
      <%= month_calendar events: @events do |date, events| %>
        <div>
          <%= date.day %>
        </div>
          <% events.each do |event| %>
            <%= link_to(event_path(event)) do %>
              <div>
                <%= event.title %>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>