<div class="container">
  <%= render 'layouts/notice_expression' %>
  <div class="row">
    <div class="col-md-8 mx-auto form-group">
    <h1>ジャンル編集</h1>
      <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
        <div class="form-group form-inline mt-5">
          <%= f.label :name, "ジャンル名：　" %>
          <%= f.text_field :name, class: "form-control w-50" %>
        </div>
        <div class="form-action">
          <%= f.submit "変更を保存", class: "btn btn-primary mr-5" %>
          <%= link_to "削除", admin_genre_path(@genre), method: :delete, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
