<%= render 'layouts/admin_header' %>
<div class="container">
  <h1>カレンダー</h1>
  <div class="row">
    <div class="col-md-10 text-center">
      <%= month_calendar events: @events do |date, events| %>
      <div>
        <%= date.day %>
      </div>
        <% events.each do |event| %>
          <%= link_to(admin_event_path(event)) do %>
            <div>
              <% if event.charges.exists? && (event.is_finished == "untouched") %>
                <p class="text-warning text-left"><%= event.title %></p>
              <% elsif event.charges.exists? %>
                <p class="text-left"><%= event.title %></p>
              <% else %>
                <p class="text-danger text-left"><span><i class="fas fa-exclamation-triangle"></i></span><%= event.title %></p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
