<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="col-md-12 text-left">カレンダー</h1>
      <%= month_calendar events: @events do |date, events| %>
      <div>
        <%= date.day %>
      </div>
        <% events.each do |event| %>
          <%= link_to(admin_event_path(event)) do %>
            <div class="text-left">
              <!--タスク担当者がいるか？-->
              <% if !event.charges.exists? %>
                <span class="text-danger">・<%= event.title %><span><i class="fas fa-exclamation-triangle", style="color: red;"></i></span></%></span>
              <!--担当者はいる　かつ　完了していない-->
              <% elsif event.charges.exists? && (event.is_finished != "completed")%>
                <span class="text-warning">・<%= event.title %></span>
              <!--完了している-->
              <% elsif event.charges.exists? && (event.is_finished == "completed") %>
                <span>・<%= event.title %><span><i class="fas fa-check-circle"></i></span></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
