<div class="simple-calendar">
  <div class="calendar-heading">
    <!--<%= link_to t('simple_calendar.previous', default: '<< '), calendar.url_for_previous_view %>-->
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= l @event.start_time, format: :full %></span>
      <p>タスク一覧</p>
    <% else %>
      <!--<span class="calendar-title">%= t('simple_calendar.week', default: 'Week') %> <%= calendar.week_number %> - <%= calendar.end_week %></span>-->
    <% end %>
    <!--<%= link_to t('simple_calendar.next', default: ' >>'), calendar.url_for_next_view %>-->
  </div>

  <table class="table table-borderless">
    <thead>
      <tr>
        <!--% date_range.slice(0, 1).each do |day| %>-->
          <!--<th>%= @event.start_on.abbr_day_names %></th>-->
        <!--% end %>-->
      </tr>
    </thead>
    <tbody>

        <!--% times.each do |time| %>-->
        <tr>
          <!--<td>%= time %></td>-->
          <td class="table-active">
            <div>
              <% @events.each do |event| %>
                <% if event.start_time.to_date == @event.start_time.to_date  %>
                  <div>
                    <% if admin_signed_in? %>
                      <%= link_to admin_event_path(event) do %>
                        <span>●</span><%= event.title %>
                      <% end %>
                    <% else %>
                      <%= link_to event_path(event) do %>
                        <span>●</span><%= event.title %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
        <!--% end %>-->
    </tbody>
  </table>
</div>