<%= render 'layouts/admin_header' %>
<div class="container">
  <h2>会員一覧</h2>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>会員ID</th>
            <th>名前</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <%= link_to(admin_user_path(user)) do %>
                <%= user.last_name %><%= user.first_name %>
              <% end %>
            </td>
            <td><% if user.is_deleted == false %>
                <p class="text-primary">有効</p>
              <% else %>
                <p class="text-danger">無効</p>
              <% end %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="w-100">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>

