<%= render 'layouts/admin_header' %>
<div class="container">
  <%= render 'layouts/notice_expression' %>
  <h2>会員情報詳細</h2>
  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>名前</td>
          <td><%= @user.last_name %><%= @user.first_name %></td>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <td>登録タスク</td>
          <td><%= @user.events.count %>件</td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <% if @user.is_deleted == false %>
            <td>有効</td>
          <% elsif @user.is_deleted == true %>
            <td>退会</td>
          <% end %>
        </tr>
      </table>

      <div>
        <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-success" %>
      </div>
      <div>
        <%= link_to "登録タスク一覧", admin_events_path(user_id: @user.id), class: "btn btn-outline-primary" %>
      </div>
      <div>
        <%= link_to "担当タスク一覧", admin_charges_path(user_id: @user.id), class: "btn btn-outline-info" %>
      </div>
      <div>
        <%= link_to "投稿コメント一覧", admin_user_comments_path(user_id: @user.id), class: "btn btn-outline-info" %>
      </div>
    </div>
  </div>
</div>