<%= render 'layouts/admin_header' %>
<div class="container">
  <h2>会員情報詳細</h2>
  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>名前</td>
          <td><%= @user.last_name %><%= @user.first_name %></td>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <td>登録タスク</td>
          <td><%= @user.events.count %>件<%= link_to "一覧", admin_events_path(user_id: @user.id), class: "btn btn-primary" %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <% if @user.is_deleted == false %>
            <td>有効</td>
          <% elsif @user.is_deleted == true %>
            <td>退会</td>
          <% end %>
        </tr>
      </table>
      
      <div>
        <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-success col-3" %>
      </div>
      <div>
        <%= link_to "登録タスク一覧", admin_charges_path(user_id: @user.id), class: "btn btn-success col-3" %>
      </div>
      <div>
        <%= link_to "担当タスク一覧", admin_charges_path(user_id: @user.id), class: "btn btn-success col-3" %>
      </div>
      
      <h3 class="mt-4">投稿コメント一覧</h3>
      <%= link_to "すべてのコメントを削除", class: "btn btn-danger btn-lg" %>
      <table class="table">
        <thead class="table-light">
          <tr>
            <td>タスク名</td>
            <td>コメント</td>
            <td></td>
          </tr>
        </thead>
        <% @user.comments.each do |comment|%>
          <tr>
            <td>
              <%= link_to admin_event_path(comment.event) do %>
                <%= comment.event.title %>
              <% end %>
            </td>
            <td>
              <%= comment.comment %>
            </td>
            <td><%= link_to "削除", admin_event_comment_path(comment.event, comment), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

