<%= render 'layouts/public_header' %>
<div class="container">
  <h1>タスク詳細</h1>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-7">
      <div class="row">
      <table class="table">
        <tr>
          <td>ジャンル</td>
          <td><%= @task.genre.name %></td>
        </tr>
        <tr>
          <td>タイトル</td>
          <td><%= @task.title %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= @task.body %></td>
        </tr>
        <tr>
          <td>開始時間</td>
          <td><%= @task.start_time %></td>
        </tr>
        <tr>
          <td>終了時間</td>
          <td><%= @task.end_time %></td>
        </tr>
        <tr>
          <td>登録者</td>
          <td><%= @task.user.last_name %> <%= @task.user.first_name %></td>
        </tr>
        <tr>
          <td>担当者</td>
          <td><%= @task.user.last_name %> <%= @task.user.first_name %></td><!--担当者に変更必要-->
        </tr>
        <tr>
          <td>進捗状況</td>
          <td><%= @task.is_finished %></td>
        </tr>
      </table>
      </div>
      <div class="row">

        <%= link_to task_charges_path(@task), method: :post do %>
          <div class="btn btn-success">担当する</div>
        <% end %>
        <%= link_to "タスク編集", edit_task_path(@task), class: "btn btn-primary" %>

        <%= form_with model: @comment, url: task_comments_path(@task), method: :post do |f| %>
          <table>
            <tr>
              <td><%= f.label :comment %></td>
              <td><%= f.text_area :comment, row: 3 %></td>
            </tr>
          </table>
          <%= f.submit "投稿", class: "btn btn-success" %>
        <% end %>
      </div>

      <div>
        <table>
          <tr>
            <th>コメント</th>
          </tr>
          <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.comment %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>