<%= render 'layouts/public_header' %>
<div class="container">
  <h1>タスク詳細</h1>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-7">
      <div class="row">
        <%= render 'layouts/task_show', task: @task %>
      </div>
      <div class="row">
        <%= link_to task_charges_path(@task), method: :post do %>
          <div class="btn btn-success">担当する</div>
        <% end %>
      </div>
      <div class="row mt-3">
        <%= link_to "タスク編集", edit_task_path(@task), class: "btn btn-primary" %>
      </div>
      <div class="row mt-3">
        <%= form_with model: @comment, url: task_comments_path(@task), method: :post do |f| %>
          <table>
            <tr>
              <td><%= f.label :comment, "コメント" %></td>
              <td><%= f.text_area :comment, row: 3 %></td>
              <td><%= f.submit "投稿", class: "btn btn-success" %></td>
            </tr>
          </table>
        <% end %>
      </div>

      <div class="row mt-3">
        <table class="table">
          <tr>
            <th>投稿者</th>
            <th>コメント</th>
          </tr>
          <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.user.last_name %><%= comment.user.first_name %></td>
            <td><%= comment.comment %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>