<%= render 'layouts/public_header' %>
<div class="container">
  <h2>会員情報編集</h2>
  <div class="row mt-5">
    <div class="col-md-10 mx-auto">
      <div class="row">
        <%= form_with model: @user, url: users_mypage_path, method: :patch do |f| %>
        <table class="table">
          <tr>
            <td><%= f.label :last_name, "姓" %></td>
            <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :first_name, "名" %></td>
            <td><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :email, "メールアドレス" %></td>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
          </tr>
          <tr>
            <td><%= f.label :telephone_number, "電話番号(ハイフンなし)" %><br /></td>
            <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class: "form-control" %></td>
          </tr>
        </table>
      </div>
      <div class="row">
        <%= f.submit "変更を保存", class: "btn btn-primary mx-auto" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

