<%= render 'layouts/public_header' %>
<div class="container">
  <h2>会員情報詳細</h2>
  <div class="row">
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>名前</td>
          <td><%= @user.last_name %><%= @user.first_name %></td>
        <tr>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @user.telephone_number %></td>
        </tr>
        <tr>
          <td>登録タスク</td>
          <td><%= @user.events.count %>件 <%= link_to "一覧", events_path(user_id: current_user.id), class: "btn btn-primary" %></td>
        </tr>
      </table>
      <div>
        <%= link_to "編集", users_mypage_edit_path, class: "btn btn-success col-3" %>
      </div>

      <div>
        <%= link_to "担当タスク一覧", charges_path, class: "btn btn-primary col-3" %>
      </div>
      <div>
        <%= link_to "ブックマークタスク一覧", favorites_path, class: "btn btn-primary col-3" %>
      </div>
    </div>
  </div>
</div>

