<h3 class="mt-3">コメント一覧</h3>
<table class="table">
    <tr>
      <th>日付</th>
      <th>投稿者</th>
      <th>コメント</th>
      <% if admin_signed_in? %>
        <th></th>
      <% end %>
    </tr>
    <% comments.each do |comment| %>
    <tr>
      <td><%= l comment.created_at, format: :day %></td>
      <td><%= comment.user.name_display %></td>
      <td><%= comment.body %></td>
      <% if admin_signed_in? %>
        <td>
          <%= link_to "削除", admin_event_comment_path(comment.event, comment, event_id: comment.event.id, comment_id: comment.id), method: :delete, data: { confirm: 'コメント削除しますか？' }, class: "btn btn-outline-danger btn-sm" %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <% if comments.exists? %>
  <% else %>
    <p class="text-info">コメントはありません</p>
  <% end %>
  <div class="w-100 mb-5">
    <%= paginate comments %>
  </div>