<div class="row">
  <div class="col-12">
    <h3 class="mt-5">コメント一覧</h3>
    <table class="table">
      <thead class="table-light">
        <tr>
          <th style="width: 20%">日付</th>
          <th style="width: 30%">投稿者</th>
          <th>コメント</th>
          <% if admin_signed_in? %>
            <th style="width: 10%"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% comments.each do |comment| %>
        <tr>
          <td><%= l comment.created_at, format: :day %></td>
          <td><%= comment.user.name_display %></td>
          <td><%= comment.body %></td>
          <!--管理者の場合は、コメントの削除ボタンを表示-->
          <% if admin_signed_in? %>
            <td>
              <%= link_to "削除", admin_event_comment_path(comment.event, comment, event_id: comment.event.id, comment_id: comment.id), method: :delete, data: { confirm: 'コメント削除しますか？' }, class: "btn btn-outline-danger btn-sm" %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% if comments.exists? %>
    <% else %>
      <p class="text-black-50">コメントはありません</p>
    <% end %>
    <div class="w-100 mb-5">
      <%= paginate comments %>
    </div>
  </div>
</div>