 <table class="table">
        <tr>
          <td>ジャンル</td>
          <td><%= event.genre.name %></td>
        </tr>
        <tr>
          <td>タイトル</td>
          <td><%= event.title %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= event.body %></td>
        </tr>
        <tr>
          <td>日付</td>
          <td><%= event.start_time.to_date %></td>
        </tr>
        <tr>
          <td>開始時間</td>
          <td><%= l event.start_time, format: :short %></td>
        </tr>
        <tr>
          <td>終了時間</td>
          <td><%= l event.end_time, format: :short %></td>
        </tr>
        <tr>
          <td>登録者</td>
          <% if admin_signed_in? %>
            <td>
              <%= link_to(admin_user_path(event.user)) do %>
                <%= event.user.name_display %>
              <% end %>
            </td>
          <% else %>
            <td><%= event.user.name_display %></td>
          <% end %>
        </tr>
        <tr>
          <td>進捗状況</td>
          <td><%= event.is_finished_i18n %></td>
        </tr>
      </table>