<div class="row mt-5">
  <div class="col-md-8 mx-auto">
    <h2>タスク一覧</h2>
    <table class="table">
      <thead class="table-light">
        <tr>
          <td>日付</td>
          <td>ジャンル</td>
          <td>タイトル</td>
          <td>登録者</td>
          <td>進捗状況</td>
        </tr>
      </thead>
      <% events.each do |event| %>
      <tbody>
        <tr>
          <td><%= l event.start_time, format: :day %></td>
          <td><%= event.genre.name %></td>
          <td>
            <% if admin_signed_in? %>
              <%= link_to(admin_event_path(event)) do %>
                <%= event.title %>
              <% end %>
            <% else %>
              <%= link_to(event_path(event)) do %>
                <%= event.title %>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if admin_signed_in? %>
              <%= link_to(admin_user_path(event.user)) do %>
                <%= event.user.name_display %>
              <% end %>
            <% else %>
              <%= event.user.name_display %>
            <% end %>
          </td>
          <td><%= event.is_finished_i18n %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <div class="w-100">
      <%= paginate events %> <!--cssでjustify-content: center;-->
    </div>
  </div>
</div>