 <table class="table">
        <tr>
          <td>ジャンル</td>
          <td><%= event.genre.name %></td>
        </tr>
        <tr>
          <td>タイトル</td>
          <td><%= event.title %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= event.body %></td>
        </tr>
        <tr>
          <td>開始時間</td>
          <td><%= l event.start_time, format: :short %></td>
        </tr>
        <tr>
          <td>終了時間</td>
          <td><%= l event.end_time, format: :short %></td>
        </tr>
        <tr>
          <td>登録者</td>
          <td><%= event.user.last_name %> <%= @event.user.first_name %></td>
        </tr>
        <!--<tr>-->
          <!--<td>担当者</td>-->
          <!--<td>%= event.user.last_name %> %= @event.user.first_name %></td><!--担当者に変更必要-->
        <!--</tr>-->
        <tr>
          <td>進捗状況</td>
          <td><%= event.is_finished_i18n %></td>
        </tr>
      </table>